a {
  text-decoration: none;
}

body {
  margin: 0 auto;
}

.cover-container {
  max-width: 42em;
}

hr {
  border: 1px solid;
  color: #0d6efd;
}

.home-img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/* misc */
.m-top {
  margin-top: 1rem;
}

.px-3 {
  padding-top: 1rem;
}

.social {
  margin: 0 0.25rem;
}
