<%- include("partials/header") -%>

    </head>

    <body>

        <h1>Hello there, David says hi!</h1>

        <button class="btn btn-primary">Click me</button>

        <%- include("partials/footer") -%>